# TizenFX Code Owners.
# Add members who own directories and files for automatic Pull Request Reviewers.

# NUI Code Owners List
/src/Tizen.NUI/ @Seoyeon2Kim @taehyub @kkhos @jaehyun0cho
/src/Tizen.NUI.Components/ @Seoyeon2Kim @kkhos @jaehyun0cho
/src/Tizen.NUI/src/public/BaseComponents/Text*.cs @Seoyeon2Kim @taehyub @kkhos @jaehyun0cho
/src/Tizen.NUI/src/public/Xaml/ @taehyub @kkhos @jaehyun0cho
/src/Tizen.NUI/src/public/XamlBinding/ @Seoyeon2Kim @taehyub @kkhos @jaehyun0cho
/src/Tizen.NUI/src/internal/Xaml/ @Seoyeon2Kim @taehyub @kkhos @jaehyun0cho
/src/Tizen.NUI/src/internal/XamlBinding/ @Seoyeon2Kim @taehyub @kkhos @jaehyun0cho
/src/Tizen.NUI/src/internal/EXaml/ @Seoyeon2Kim @taehyub @kkhos @jaehyun0cho
/test/NUITestSample/ @Seoyeon2Kim @taehyub @kkhos @jaehyun0cho
/test/NUITizenGallery/ @Seoyeon2Kim @taehyub @kkhos @jaehyun0cho
/test/Tizen.NUI.ComponentApplication/ @Seoyeon2Kim @taehyub @kkhos @jaehyun0cho
/test/Tizen.NUI.Samples/ @Seoyeon2Kim @taehyub @kkhos @jaehyun0cho
/test/Tizen.NUI.SeamlessSamples/ @Seoyeon2Kim @taehyub @kkhos @jaehyun0cho
/test/Tizen.NUI.Tests/ @Seoyeon2Kim @taehyub @kkhos @jaehyun0cho
/test/Tizen.NUI.WebViewTest/ @Seoyeon2Kim @taehyub @kkhos @jaehyun0cho
/test/Tizen.NUI.WindowSystem.Samples/ @Seoyeon2Kim @taehyub @kkhos @jaehyun0cho

# Please Add more Code Owners below.